<head>
  <% content_for :header do %>
    <%= stylesheet_link_tag 'github.css' %>
    <%= stylesheet_link_tag 'SOCMTable.css' %>
    <%= stylesheet_link_tag 'RoCM.css' %>
    <%= stylesheet_link_tag 'jquery.dataTables.css' %>
    <%= stylesheet_link_tag 'tipsy.css' %>
    <%= stylesheet_link_tag 'spectrum.css' %>
  <% end %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag 'init-mathjax.js' %>
    <%= javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>

    <%= javascript_include_tag 'd3', :charset => "utf-8" %>

    <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
    <%= javascript_include_tag 'jquery-ui.min.js' %>
    <%= javascript_include_tag 'vkbeautify.js' %>
    <%= javascript_include_tag 'prettify.js' %>
    <%= javascript_include_tag 'bessel.js' %>
    <%= javascript_include_tag 'integrate.js' %>
    <%= javascript_include_tag 'spectrum.js' %>  
    <%= javascript_include_tag 'underscore-min.js' %>  
    <%= javascript_include_tag 'jquery.tipsy.js' %>  

    <!-- Parallel Computation -->
    <%= javascript_include_tag 'eval.js' %>  
    <%= javascript_include_tag 'parallel.js' %>  

    <!-- RoCM Functions -->
    <%= javascript_include_tag 'Param.js' %>
    <%= javascript_include_tag 'ParamDict.js' %>
    <%= javascript_include_tag 'ParamList.js' %>
    <%= javascript_include_tag 'ParamFormatting.js' %>
    <%= javascript_include_tag 'VData.js' %>
    <%= javascript_include_tag 'Constants.js' %>
    <%= javascript_include_tag 'Conversion.js' %>
    <%= javascript_include_tag 'CustomModel.js' %>
    <%= javascript_include_tag 'GalacticModel.js' %>
    <%= javascript_include_tag 'GalacticModelStyle.js' %>
    <%= javascript_include_tag 'GalacticModelStyleDict.js' %>
    <%= javascript_include_tag 'Bulge.js' %>


    <%= javascript_include_tag 'Distribution.js' %>

    <%= javascript_include_tag 'FileSaver.js' %>
    <%= javascript_include_tag 'Blob.js' %>

    <%= javascript_include_tag 'jquery.dataTables.js' %>
    <%= javascript_include_tag 'LaTeXEquation.js' %>

    <%= javascript_include_tag 'Helper.js' %>
    <%= javascript_include_tag 'MathHelper.js' %>
    <%= javascript_include_tag 'CurvePlot.js' %>
    <%= javascript_include_tag 'ParamTable.js' %>
    <%= javascript_include_tag 'ParamSlider.js' %>
    <%= javascript_include_tag 'SVGSave.js' %>
    <%= javascript_include_tag 'SOCMTable.js' %>
    <%= javascript_include_tag 'SOCMBridge.js' %>
    <%= javascript_include_tag 'RoCSBridge.js' %>
    <%= javascript_include_tag 'ChiChart.js' %>
    <%= javascript_include_tag 'DefaultParameters.js' %>
    <%= javascript_include_tag 'DownloadGalaxy.js' %>
    <%= javascript_include_tag 'AutomaticObjectiveTesting.js' %>
    
    <%= javascript_include_tag 'RoCM.js' %>
  <% end %>
</head>

<body>  
  <title>Rotation Curve Modeler</title> 

  <center>
    <noscript>
      For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web browser</a>
    </noscript>
  </center>

  
  

  <div id="nav_bar" class="fixed">
    <div id="title_div" class="sub_fixed" style="height:20px">
      <h1>Rotation Curve Modeler</h1>
    </div>
  
    <!-- Underscored lined beneath the title -->    
    <h2> </h2>

    <div id="button_bar" class="sub_fixed" style="position:relative;height:20px;"> 
      <button id="display_button">Galaxies</button>
      <button id="slider_button">Parameter Sliders</button>

      <button style="float:right" id="simulate">Simulate</button>
      <button style="float:right" id="save" onclick="saveSVG('graph')">Save to SVG</button>
    </div>

    
  </div>

  <div id="rocm_wrapper" class="rocm_wrapper">
    <div id="socmt_wrapper" class="dropdown socm_dropdown"></div>

    <div id="sliders" class="dropdown sliders_dropdown"></div>
    
    <div id="graph" style="fill:white;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;">
      <svg xmlns="http://www.w3.org/2000/svg" id="graph_svg" style="display:block;margin:auto;"></svg>
    </div>


    <br>

    <!-- <h2>Parameters</h2> -->
    <div id="parameters" style="float:left;width:100%"></div>


    <br>

  <br>

  <div id="user_defined_model" style="float:left;width:100%;height:700px">
    <h2>User Defined Model</h2>
    <div id="user_defined_model_text" style="float:left;width:48%">
      <b>Write a JavaScript function in the form</b>: 
        <pre class="custom_model_text">
function MODELNAME(R) {
    // Input: R in kpc
    // Output: rotation_velocity in km/s
    // Available objects/functions: PARAMS, CONST, CONVERT, GMODEL, BULGE
    
    var rotation_velocity;


    return rotation_velocity;
}</pre>

    <div id="latex_wrapper" style="float:left;width:100%">
      <h2>$\LaTeX$ equation</h2>
      <div id="input" style="margin:0 auto">
        <input id="tex" type="text" value="v_{\text{GR}} = \sqrt{\frac{N^*\beta^*c^2R^2}{2R^3_0}\left[I_0\left(\frac{R}{2R_0}\right)K_0\left(\frac{R}{2R_0}\right)-I_1\left(\frac{R}{2R_0}\right)K_1\left(\frac{R}{2R_0}\right)\right]}" style="width:400px;display:block;margin:0 auto"/></p>
      </div>
      <div id="output" style="margin:0 auto"></div>
    </div>

      <!-- TODO: Display mapping of formatted parameters to keys within the PARAMS object. -->
    </div>
    <div id="user_defined_model_input" style="float:right;width:50%;height:100%">
      <label id="model_full_name_label" for="model_full_name" style="float:left"><b>Model full name</b>: </label>
      <label id="model_color_label" for="model_color" style="float:right"><b>Model color</b>: </label>
      <br>
      <input id="model_full_name" type="text" class="custom_model_text" style="float:left;min-width:80%;max-width:80%"></input>
      <input id="model_color" type="color" value="#3355cc" style="float:right;width:15%"/>
      <textarea id="model_input" rows="4" cols="20" class="custom_model_text" style="width:100%;display:block;margin:0 auto;height:70%;min-height:30%;">
function CUSTOM(R) {
  // General Relativity 
  var R0 = PARAMS.get("scale_length");
  var R0km = CONVERT.kpc_to_km(R0);
  var Rkm = CONVERT.kpc_to_km(R);

  var x = (Rkm/(2*R0km));
  var bessel_func = (besseli(x,0)*besselk(x,0) - besseli(x,1)*besselk(x,1));

  var c = CONST.get("c");
  var B = CONST.get("schwarzschild_radius");

  var mass = PARAMS.get("mass_disk");
  var solar_mass = CONST.get("solar_mass");

  var Nstar = mass/solar_mass;

  var bulge = BULGE(R);

  var rotation_velocity = Math.sqrt(Rkm * (((Nstar*B*c*c*Rkm)/(2*R0km*R0km*R0km)) * bessel_func));

  rotation_velocity = Math.sqrt(rotation_velocity*rotation_velocity + bulge);
  
  return rotation_velocity;
}</textarea>

      <p>
      <button id="add_model" style="float:left">Add/Update model</button>
      <button id="remove_model" style="float:left">Remove model</button>
      <button id="add_parameter" style="float:right">Add new parameter</button>


    </div>
  </div>


  <div id="about_wrapper" style="display:none;width:100%;padding-bottom:2%;">
    <button id="reset_rocm" style="float:right;z-index:1111">Reload Default Settings</button>

    <h2>About</h2>
    <p>RoCM, SOCM, and RoCS were developed at Wentworth Institute of Technology in Boston, MA. Their purpose is to expedite the process of solving the rotation curve problem in all classifications of galaxies.
    </p>
    <h3>Scholarly Observed Celestial Measurements (SOCM)</h3>
    <ul class="socm_list">
      <li>Provides access to peer-reviewed galactic data and makes it widely available in one location.</li>
      <li>Enables astrophysicists to skip the data collecting process from their galactic research.</li>
      <li>Sort and select galactic data to use with several different rotation curve models.
    </ul>
    <h3>Rotation Curve Modeler (RoCM)</h3>
    <ul class="rocm_list">
      <li>Plot observational data and multiple galactic models together.</li>
      <li>Sliders enable the user to visualize the behavior of each parameter within the models.</li>
      <li>Locally import your own galactic model to test against the existing theories.</li>
    </ul>
    <h3>Rotation Curve Simulation (RoCS)</h3>
    <ul class="rocs_list">
      <li>Simulate the rotation of the galaxy using different models and observational data.</li>
      <li>Visualize the velocity of the spin with a color scale.</li>
    </ul>
    <center>
      <p>
        <a href="mailto:mossr@wit.edu">Robert Moss</a> | 
        <a href="mailto:clementa1@wit.edu">Alex Clement</a> | 
        <a href="mailto:mcgeep@wit.edu">Patrick McGee</a> | 
        <a href="mailto:millerd1@wit.edu">Dave Miller</a> | 
        <a href="mailto:obrienj10@wit.edu">Dr. James G. O'Brien</a>
      </p>
      <sup>Wentworth Institute of Technology</sup>
    </center>
  </div>


  <div style="float:left;width:100%">
    <center>
      <button id="about_button">About</button>
    </center>
  </div>
</div>


<form id="svgform" method="post" action="http://d3export.cancan.cshl.edu/download.pl">
  <input type="hidden" id="output_format" name="output_format" value="">
  <input type="hidden" id="data" name="data" value="">
</form>

</body>