<head>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag 'init-mathjax.js' %>
    <%= javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>

    <%= javascript_include_tag 'd3', :charset => "utf-8" %>

    <%= javascript_include_tag 'jquery-1.10.2.min.js' %>
    <%= javascript_include_tag 'jquery-ui.js' %>

    <%= javascript_include_tag 'vkbeautify.js' %>
    <%= javascript_include_tag 'prettify.js' %>

    <%= javascript_include_tag 'bessel.js' %>
    <%= javascript_include_tag 'integrate.js' %>

    <!-- Distribution Functions -->
    <%= javascript_include_tag 'Distribution.js' %>

    <%= javascript_include_tag 'FileSaver.js' %>
    <%= javascript_include_tag 'Blob.js' %>

    <%= javascript_include_tag 'jquery.dataTables.js' %>
    <%= javascript_include_tag 'LaTeXEquation.js' %>

    <%= javascript_include_tag 'Helper.js' %>
    <%= javascript_include_tag 'Param.js' %>
    <%= javascript_include_tag 'ParamsDict.js' %>
    <%= javascript_include_tag 'VData.js' %>
    <%= javascript_include_tag 'Constants.js' %>
    <%= javascript_include_tag 'Conversion.js' %>
    <%= javascript_include_tag 'GalacticModel.js' %>
    <%= javascript_include_tag 'CurvePlot.js' %>
    <%= javascript_include_tag 'ParamTable.js' %>
    <%= javascript_include_tag 'ParamSlider.js' %>
    <%= javascript_include_tag 'SVGSave.js' %>
    <%= javascript_include_tag 'SOCMt.js' %>
    <%= javascript_include_tag 'SOCMBridge.js' %>
    <%= javascript_include_tag 'RoCM.js' %>
    <%= javascript_include_tag 'BarChart.js' %>
  <% end %>
</head>

  <div style="position:absolute;top:0%;left:50%;margin-left:-100px;width:200px;">
    <button id="display_button">SOCM Table</button>
  </div>

  <div id="socmt_wrapper" style="display:none;">
    <h2>Scholarly Observed Celestial Measurements</h2>
  </div>

  <center>
    <noscript>
      For full functionality of this page it is necessary to enable JavaScript. Here are the <a href="http://www.enable-javascript.com" target="_blank"> instructions how to enable JavaScript in your web browser</a>
    </noscript>
  </center>

  <div id="rocm_wrapper" style="max-width:1200px;margin:0 auto">
    <div id="title_div">
      <h1>Rotation Curve Modeler</h1>
      <h2> </h2>
    </div>

    <div style="float:left;">
      <button id="save" onclick="saveSVG('graph')" style="float:left">Save to SVG</button>

      <button id="simulate" onclick="send_to_rocs('Milky Way')" style="float:right">Simulate</button>
    </div>

    <br>

    <div id="graph" style="fill:white;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;">
      <br><br>
      <svg xmlns="http://www.w3.org/2000/svg" id="graph_svg" style="display:block;margin:auto;"></svg>
    </div>


    <br>

    <!-- <h2>Parameters</h2> -->
    <div id="constants" style="float:left;width:100%">
      <table id="constants_table" style="margin:0 auto" cellspacing=0>
      </table>
    </div>


    <br>


    <h2>Sliders</h2>
    <div id="sliders" style="float:left;width:100%;position:relative;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;"
    unselectable="on"
    onselectstart="return false;"
    onmousedown="return false;">

    <div id="chi_graph" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;">
      <br><br>
      <svg xmlns="http://www.w3.org/2000/svg" id="chi_graph_svg" style="float:left"></svg>
    </div>


  </div>


  <br>


  <div id="latex_wrapper" style="float:left;width:100%">
    <h2>$\LaTeX$ equation:</h2>
    <div id="input" style="margin:0 auto">
      <input id="tex" type="text" value="v_{\text{GR}} = \sqrt{\frac{N^*\beta^*c^2R^2}{2R^3_0}\left[I_0\left(\frac{R}{2R_0}\right)K_0\left(\frac{R}{2R_0}\right)-I_1\left(\frac{R}{2R_0}\right)K_1\left(\frac{R}{2R_0}\right)\right]}" style="width:400px;display:block;margin:0 auto"/></p>
    </div>
    <div id="output" style="margin:0 auto"></div>
  </div>

  <br><br>
