<!DOCTYPE html>
<html>
<head>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag 'd3', :charset => "utf-8" %>

    <%= javascript_include_tag 'jquery-1.11.1.min.js' %>
    <%= javascript_include_tag 'jquery-ui.min.js' %>

    <%= javascript_include_tag 'Helper.js' %>
    <%= javascript_include_tag 'MathHelper.js' %>
    <%= javascript_include_tag 'ParamList.js' %>
    <%= javascript_include_tag 'ParamTable.js' %>
    <%= javascript_include_tag 'ParamFormatting.js' %>
    <%= javascript_include_tag 'RoCS.js' %>
  <% end %>
  
  <meta charset="utf-8" />  

  <title>Rotation Curve Simulation</title>

</head>
<body class="space">
  <div id="wrapper" style="max-width:1200px;margin:0 auto;position:relative">

    <div id="title_div"></div>

    <div id="button_div" style="float:right;"></div>
      
    <div id="galaxy_title_div"></div>

    <div id="rocs_galaxy" style="display:block;margin:auto;"></div>

  </div>
    <div id="slider_wrapper" style="margin:0 auto">
      <div style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' unselectable='on' onselectstart='return false;' onmousedown='return false;'>
        <p>
          <label for="angle_value" style="color:dimgray"><b>Tilt angle: </b></label>
          <input type="text" id="angle_value" onclick="update_original('angle')" style="border:0; color:#f6931f; background-color:black; font-weight:bold;width=700px;">
        </p>
      </div>

      <div style="width:20px; float:left;position:relative;">
        <div id="slider_angle" style="height:500px;"></div>
      </div>
    </div>




    <br><br>


    <div id="legend_wrapper" style="width:50%;margin:0 auto">
      <div style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;margin:0 auto' unselectable='on' onselectstart='return false;' onmousedown='return false;'>
          <div style="display:block;text-align:center;">
            <!-- <font color="dimgray" style="display:block;text-align:center;"><b>Color scale = </b></font> -->
            <input type="text" id="velocity_value_min" style="display:inline-block; border:0; color:#ffffff; background-color:black; font-weight:bold;text-align:center;">
            <input type="text" id="velocity_value_mid" style="display:inline-block; border:0; color:#ffffff; background-color:black; font-weight:bold;text-align:center;">
            <input type="text" id="velocity_value_max" style="display:inline-block; border:0; color:#ffffff; background-color:black; font-weight:bold;text-align:center;">
          </div>
      </div>  
    <h2> </h2>
    <br>
    <div id="slider_spin_wrapper" style="width:50%;margin:0 auto;">
      <div style="width:100%;float:left;position:relative;">
        <div id="slider_spin"></div>
      </div>
    </div>
    <br>
    <div style='-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;' unselectable='on' onselectstart='return false;' onmousedown='return false;'>
        <p>
          <font color="dimgray" style="display:block;text-align:center;" onclick="update_original_speed('spin')"><b>Reset animation spin speed</b></font>
        </p>
      </div>
  </div>

  
  <div id="rocs_parameters" style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;" unselectable="on" onselectstart="return false;" onmousedown="return false;"></div>

</body>
</html>