<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RoCM</title>

  <%= yield :javascript_includes %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= image_tag("galaxy.ico", :rel => "icon") %>
</head>
<body>

<%= yield %>

</body>
</html>
