<!DOCTYPE html>
<html>
<head>
  <title>RoCM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'BarChart' => true %>
  <%= javascript_include_tag 'application', 'bessel' => true %>
  <%= javascript_include_tag 'application', 'Blob' => true %>
  <%= javascript_include_tag 'application', 'Constant' => true %>
  <%= javascript_include_tag 'application', 'Conversion' => true %>
  <%= javascript_include_tag 'application', 'CurvePlot' => true %>
  <%= javascript_include_tag 'application', 'd3.v3' => true %>
  <%= javascript_include_tag 'application', 'Distribution' => true %>
  <%= javascript_include_tag 'application', 'FileSaver' => true %>
  <%= javascript_include_tag 'application', 'GalacticModel' => true %>
  <%= javascript_include_tag 'application', 'glow' => true %>
  <%= javascript_include_tag 'application', 'Helper' => true %>
  <%= javascript_include_tag 'application', 'init-mathjax' => true %>
  <%= javascript_include_tag 'application', 'integrate' => true %>
  <%= javascript_include_tag 'application', 'jquery-1.10.2' => true %>
  <%= javascript_include_tag 'application', 'jquery-ui' => true %>
  <%= javascript_include_tag 'application', 'jquery.dataTables' => true %>
  <%= javascript_include_tag 'application', 'LaTeXEquation' => true %>
  <%= javascript_include_tag 'application', 'parallel' => true %>
  <%= javascript_include_tag 'application', 'Param' => true %>
  <%= javascript_include_tag 'application', 'ParamDict' => true %>
  <%= javascript_include_tag 'application', 'ParamSlider' => true %>
  <%= javascript_include_tag 'application', 'ParamTable' => true %>
  <%= javascript_include_tag 'application', 'prettify' => true %>
  <%= javascript_include_tag 'application', 'RoCM' => true %>
  <%= javascript_include_tag 'application', 'RoCS' => true %>
  <%= javascript_include_tag 'application', 'SOCMBridge' => true %>
  <%= javascript_include_tag 'application', 'SOCMt' => true %>
  <%= javascript_include_tag 'application', 'SVGSave' => true %>
  <%= javascript_include_tag 'application', 'vData' => true %>
  <%= javascript_include_tag 'application', 'vkbeautify' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
