<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  
  <link rel="stylesheet" href="../style/humanity/jquery-ui-1.9.2.custom.css">
  <link rel="stylesheet" href="../style/github.css">
  <link rel="stylesheet" href="../style/SOCMTable.css"> 
  <link rel="stylesheet" href="../style/RoCM.css"> 
  <link rel="stylesheet" href="../style/jquery.dataTables.css">

<% 
=begin Use this block if About becomes own page
  <% content_for :javascript_includes do %>
    <!-- MathJax: Latex equations to HTML (needs to be in the html head) -->
    <%= javascript_include_tag 'init-mathjax.js' %>
    <%= javascript_include_tag 'http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML' %>

    <%= javascript_include_tag 'd3', :charset => "utf-8" %>

    <%= javascript_include_tag 'jquery-1.10.2.min.js' %>
    <%= javascript_include_tag 'jquery-ui.js' %>

    <%= javascript_include_tag 'vkbeautify.js' %>
    <%= javascript_include_tag 'prettify.js' %>

    <%= javascript_include_tag 'bessel.js' %>
    <%= javascript_include_tag 'integrate.js' %>

    <!-- Distribution Functions -->
    <%= javascript_include_tag 'Distribution.js' %>

    <%= javascript_include_tag 'FileSaver.js' %>
    <%= javascript_include_tag 'Blob.js' %>

    <%= javascript_include_tag 'jquery.dataTables.js' %>
    <%= javascript_include_tag 'LaTeXEquation.js' %>

    <%= javascript_include_tag 'Helper.js' %>
    <%= javascript_include_tag 'Param.js' %>
    <%= javascript_include_tag 'ParamsDict.js' %>
    <%= javascript_include_tag 'VData.js' %>
    <%= javascript_include_tag 'Constants.js' %>
    <%= javascript_include_tag 'Conversion.js' %>
    <%= javascript_include_tag 'GalacticModel.js' %>
    <%= javascript_include_tag 'CurvePlot.js' %>
    <%= javascript_include_tag 'ParamTable.js' %>
    <%= javascript_include_tag 'ParamSlider.js' %>
    <%= javascript_include_tag 'SVGSave.js' %>
    <%= javascript_include_tag 'SOCMTable.js' %>
    <%= javascript_include_tag 'SOCMBridge.js' %>
    <%= javascript_include_tag 'RoCM.js' %>
    <%= javascript_include_tag 'BarChart.js' %>
    <%= javascript_include_tag 'oneSimpleTablePaging.js' %>
  <% end %>
=end %>

</head>

<body>
  <div id="about_wrapper" style="display:none;bottom:0;width:100%;padding-bottom:2%;">
    <h2>About</h2>
    <p>RoCM, SOCM, and RoCS were delevoped at Wentworth Insitute of Technology in Boston, MA. Their purpose is to expedite the process of solving the rotation curve problem in all classifications of galaxies.
    </p>
    <h3>Scholarly Observed Celestial Measurements (SOCM)</h3>
    <ul class="socm_list">
      <li>Provides access to peer-reviewed galactic data and makes it widely available in one location.</li>
      <li>Enables astrophysicists to skip the data collecting process from their galactic research.</li>
      <li>Sort and select galactic data to use with several different rotation curve models.
    </ul>
    <h3>Rotation Curve Modeler (RoCM)</h3>
    <ul class="rocm_list">
      <li>Plot obervational data and multiple galactic models together.</li>
      <li>Sliders enable the user to visualize the behavior of each parameter within the models.</li>
      <li>Locally import your own galactic model to test against the existing theories.</li>
    </ul>
    <h3>Rotation Curve Simulation (RoCS)</h3>
    <ul class="rocs_list">
      <li>Simulate the rotation of the galaxy using different models and observational data.</li>
      <li>Visualize the velocity of the spin with a color scale.</li>
    </ul>
    <center>
      <p>
        <a href="mailto:mossr@wit.edu">Robert Moss</a> | 
        <a href="mailto:clementa1@wit.edu">Alex Clement</a> | 
        <a href="mailto:mcgeep@wit.edu">Patrick McGee</a> | 
        <a href="mailto:millerd1@wit.edu">Dave Miller</a> | 
        <a href="mailto:obrienj10@wit.edu">Dr. James G. O'Brien</a>
      </p>
      <sup>Wentworth Insitute of Technology</sup>
    </center>
  </div>

  <div style="float:left;width:100%">
    <center>
      <button id="about_button">About</button>
    </center>
  </div>
</div>

</body>
</html>